<div class="container" id="deck">
  <div class="page-header">
    <h2>Deck<small>under development</small></h2>
  </div>

  <div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="" ng-model="c.link">
      <span class="input-group-btn">
        <button class="btn btn-primary copy-clipboard"
                data-toggle="tooltip" data-placement="bottom"
                title="" data-clipboard-text="{{ c.link }}">Copy</button>
      </span>
    </div>
  </div>
</div>

<div id="deck-container" fittable="fitted">
  <div class="container">
    <div class="" ng-drop="true" ng-drop-success="c.setServant($index, $data, $event)" ng-repeat="servantId in c.decks track by $index">
      <div ng-drag="servantId" ng-drag-data="{index: $index, servantId: servantId}" ng-drag-stop="c.clearServant($index)">
        <img ng-if="servantId" ng-src="assets/img/m/{{ servantId }}.jpg" class="img-rounded img-responsive" />
        <img ng-if="!servantId" ng-src="assets/img/m/dummy.png" class="img-rounded img-responsive img-dummy" />
      </div>
    </div>
  </div>
</div>

<div id="deck-servants" class="container">
  <div>
    <div ng-class="{'setted': servant.setted}" ng-repeat="servant in c.servants | filter:c.filter | orderBy:c.predicate:c.reverse"
         ng-drag="true" ng-drag-data="{index: null, servantId: servant.id}">
      <img ng-src="./assets/img/m/{{ servant.id }}.jpg" class="img-rounded img-responsive" />
    </div>
  </div>
</div>
