<div class="page-header">
  <h2>{{ sdc.servant.name }}</h2>
</div>

<div id="servant" class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="row">
      <dl class="col-md-6 col-sm-0 row"></dl>
      <dl class="col-md-6 col-sm-12 row">
        <dt class="col-xs-3">Updated</dt>
        <dd class="col-xs-9">{{ sdc.servant.date|date:'yyyy-MM-dd' }}</dd>
      </dl>
    </div>
  </div>
  <div class="col-md-4">
    <a href="./assets/img/l/{{ sdc.servant.id }}.jpg" target="_self">
      <img src="./assets/img/l/{{ sdc.servant.id }}.jpg" class="center-block img-rounded img-responsive" />
    </a>
  </div>
  <div class="col-md-8">
    <div class="row">
      <dl class="col-sm-6 row">
        <dt class="col-xs-3">Race</dt>
        <dd class="col-xs-9">{{ sdc.servant.race_name }}-{{ sdc.servant.race_code|pad:3:'0' }}</dd>
      </dl>
      <dl class="col-sm-6 row">
        <dt class="col-xs-3">Cost</dt>
        <dd class="col-xs-9">{{ sdc.servant.cost }}</dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-sm-6 row">
        <dt class="col-xs-3">Type</dt>
        <dd class="col-xs-9">{{ sdc.servant.type }}</dd>
      </dl>
      <dl class="col-sm-6 row">
        <dt class="col-xs-3">Range</dt>
        <dd class="col-xs-9">{{ sdc.servant.range }}</dd>
      </dl>
    </div>
    <dl class="row">
      <dt class="col-md-12">Oral Tradition</dt>
      <dd class="col-md-12">
        <div class="well well-sm">
          <small>{{ sdc.servant.oral_tradition }}</small>
        </div>
      </dd>
    </dl>
    <div class="row">
      <dl class="col-sm-6 row">
        <dt class="col-xs-3">Illust</dt>
        <dd class="col-xs-9">{{ sdc.servant.illust }}</dd>
      </dl>
      <dl class="col-sm-6 row">
        <dt class="col-xs-3">CV</dt>
        <dd class="col-xs-9">{{ sdc.servant.cv }}</dd>
      </dl>
    </div>
    <dl id="servant-status">
      <dt><b>Status</b></dt>
      <dd>
        <table class="table table-hover visible-md visible-lg">
          <thead>
          <tr>
            <th class="">Level</th>
            <th class="">HP</th>
            <th class="">AP</th>
            <th class="">ATK</th>
            <th class="">POW</th>
            <th class="">DEF</th>
            <th class="">RES</th>
            <th class="">MS</th>
            <th class="">AS</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="status in sdc.servant.statuses">
            <td class="">{{ status.level }}</td>
            <td class="">{{ status.hp }}</td>
            <td class="">{{ status.ap }}</td>
            <td class="">{{ status.atk }}</td>
            <td class="">{{ status.pow }}</td>
            <td class="">{{ status.def }}</td>
            <td class="">{{ status.res }}</td>
            <td class="">{{ status.ms }}</td>
            <td class="">{{ status.as|number:2 }}</td>
          </tr>
          </tbody>
        </table>
        <table class="table table-hover hidden-md hidden-lg">
          <thead>
          <tr>
            <th rowspan="2">Level</th>
            <th class="">HP</th>
            <th class="">ATK</th>
            <th class="">DEF</th>
            <th class="">MS</th>
          </tr>
          <tr>
            <th class="">AP</th>
            <th class="">POW</th>
            <th class="">RES</th>
            <th class="">AS</th>
          </tr>
          </thead>
          <tbody ng-repeat="status in sdc.servant.statuses">
          <tr>
            <td rowspan="2">{{ status.level }}</td>
            <td class="">{{ status.hp }}</td>
            <td class="">{{ status.atk }}</td>
            <td class="">{{ status.def }}</td>
            <td class="">{{ status.ms }}</td>
          </tr>
          <tr>
            <td class="">{{ status.ap }}</td>
            <td class="">{{ status.pow }}</td>
            <td class="">{{ status.res }}</td>
            <td class="">{{ status.as|number:2 }}</td>
          </tr>
          </tbody>
        </table>
      </dd>
    </dl>
  </div>
</div>

<div id="servant-skill" class="row">
  <dl class="col-md-6">
    <dt><b>Active Skill</b></dt>
    <dd ng-if="sdc.servant.skills.active">
      <dl class="row">
        <dt class="col-xs-3">Name</dt>
        <dd class="col-xs-9">{{ sdc.servant.skills.active.name }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-3">Designation</dt>
        <dd class="col-xs-9">{{ sdc.servant.skills.active.designation|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-3">Effect</dt>
        <dd class="col-xs-9">{{ sdc.servant.skills.active.effect|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-md-12">Description</dt>
        <dd class="col-md-12">
          <div class="well well-sm">
            <small ng-bind-html="sdc.servant.skills.active|skillDescription"></small>
          </div>
        </dd>
      </dl>
    </dd>
    <dd ng-if="!sdc.servant.skills.active">
      <div class="well well-sm">
        <small>None</small>
      </div>
    </dd>
  </dl>
  <dl class="col-md-6">
    <dt><b>Passive Skill</b></dt>
    <dd ng-if="sdc.servant.skills.passive">
      <dl class="row">
        <dt class="col-xs-3">Name</dt>
        <dd class="col-xs-9">{{ sdc.servant.skills.passive.name }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-3">Designation</dt>
        <dd class="col-xs-9">{{ sdc.servant.skills.passive.designation|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-3">Effect</dt>
        <dd class="col-xs-9">{{ sdc.servant.skills.passive.effect|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-md-12">Description</dt>
        <dd class="col-md-12">
          <div class="well well-sm">
            <small ng-bind-html="sdc.servant.skills.passive|skillDescription"></small>
          </div>
        </dd>
      </dl>
    </dd>
    <dd ng-if="!sdc.servant.skills.passive">
      <div class="well well-sm">
        <small>None</small>
      </div>
    </dd>
  </dl>
</div>
