<div class="page-header">
  <h2>{{ servant.name }}</h2>
</div>

<div id="servant" class="row">
  <div class="col-md-4">
    <a href="./assets/img/l/{{ servant.id }}.jpg" target="_self">
      <img src="./assets/img/l/{{ servant.id }}.jpg" class="center-block img-rounded img-responsive" />
    </a>
  </div>
  <div class="col-md-8">
    <div class="row">
      <dl class="col-sm-6 row">
        <dt class="col-xs-2">Race</dt>
        <dd class="col-xs-10">{{ servant.race_name }}-{{ servant.race_code|pad:3:'0' }}</dd>
      </dl>
      <dl class="col-sm-6 row">
        <dt class="col-xs-2">Cost</dt>
        <dd class="col-xs-10">{{ servant.cost }}</dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-sm-6 row">
        <dt class="col-xs-2">Type</dt>
        <dd class="col-xs-10">{{ servant.type }}</dd>
      </dl>
      <dl class="col-sm-6 row">
        <dt class="col-xs-2">Range</dt>
        <dd class="col-xs-10">{{ servant.range }}</dd>
      </dl>
    </div>
    <dl class="row">
      <dt class="col-md-12">Oral Tradition</dt>
      <dd class="col-md-12">
        <div class="well well-sm">
          <small>{{ servant.oral_tradition }}</small>
        </div>
      </dd>
    </dl>
    <div class="row">
      <dl class="col-sm-6 row">
        <dt class="col-xs-2">Illust</dt>
        <dd class="col-xs-10">{{ servant.illust }}</dd>
      </dl>
      <dl class="col-sm-6 row">
        <dt class="col-xs-2">CV</dt>
        <dd class="col-xs-10">{{ servant.cv }}</dd>
      </dl>
    </div>
    <dl>
      <dt><h3>Status</h3></dt>
      <dd>
        <table class="table table-hover visible-md visible-lg">
          <thead>
          <tr>
            <th class="">Level</th>
            <th class="">HP</th>
            <th class="">AP</th>
            <th class="">ATK</th>
            <th class="">POW</th>
            <th class="">DEF</th>
            <th class="">RES</th>
            <th class="">MS</th>
            <th class="">AS</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="status in servant.statuses">
            <td class="">{{ status.level }}</td>
            <td class="">{{ status.hp }}</td>
            <td class="">{{ status.ap }}</td>
            <td class="">{{ status.atk }}</td>
            <td class="">{{ status.pow }}</td>
            <td class="">{{ status.def }}</td>
            <td class="">{{ status.res }}</td>
            <td class="">{{ status.ms }}</td>
            <td class="">{{ status.as|number:2 }}</td>
          </tr>
          </tbody>
        </table>
        <table class="table table-hover hidden-md hidden-lg">
          <thead>
          <tr>
            <th rowspan="2">Level</th>
            <th class="">HP</th>
            <th class="">ATK</th>
            <th class="">DEF</th>
            <th class="">MS</th>
          </tr>
          <tr>
            <th class="">AP</th>
            <th class="">POW</th>
            <th class="">RES</th>
            <th class="">AS</th>
          </tr>
          </thead>
          <tbody ng-repeat="status in servant.statuses">
          <tr>
            <td rowspan="2">{{ status.level }}</td>
            <td class="">{{ status.hp }}</td>
            <td class="">{{ status.atk }}</td>
            <td class="">{{ status.def }}</td>
            <td class="">{{ status.ms }}</td>
          </tr>
          <tr>
            <td class="">{{ status.ap }}</td>
            <td class="">{{ status.pow }}</td>
            <td class="">{{ status.res }}</td>
            <td class="">{{ status.as|number:2 }}</td>
          </tr>
          </tbody>
        </table>
      </dd>
    </dl>
  </div>
</div>

<div id="servant-skill" class="row">
  <dl class="col-md-6">
    <dt><h3>Active Skill</h3></dt>
    <dd ng-if="servant.skills.active">
      <dl class="row">
        <dt class="col-xs-2">Name</dt>
        <dd class="col-xs-10">{{ servant.skills.active.name }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-2">Designation</dt>
        <dd class="col-xs-10">{{ servant.skills.active.designation|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-2">Effect</dt>
        <dd class="col-xs-10">{{ servant.skills.active.effect|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-md-12">Description</dt>
        <dd class="col-md-12">
          <div class="well well-sm">
            <small ng-bind-html="servant.skills.active|skillDescription"></small>
          </div>
        </dd>
      </dl>
    </dd>
    <dd ng-if="!servant.skills.active">
      <div class="well well-sm">
        <small>None</small>
      </div>
    </dd>
  </dl>
  <dl class="col-md-6">
    <dt><h3>Passive Skill</h3></dt>
    <dd ng-if="servant.skills.passive">
      <dl class="row">
        <dt class="col-xs-2">Name</dt>
        <dd class="col-xs-10">{{ servant.skills.passive.name }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-2">Designation</dt>
        <dd class="col-xs-10">{{ servant.skills.passive.designation|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-xs-2">Effect</dt>
        <dd class="col-xs-10">{{ servant.skills.passive.effect|replace:',':'・'|default:'-' }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-md-12">Description</dt>
        <dd class="col-md-12">
          <div class="well well-sm">
            <small ng-bind-html="servant.skills.passive|skillDescription"></small>
          </div>
        </dd>
      </dl>
    </dd>
    <dd ng-if="!servant.skills.passive">
      <div class="well well-sm">
        <small>None</small>
      </div>
    </dd>
  </dl>
</div>
