<div class="container" id="deck">
  <div class="page-header">
    <h2>Deck<small>under development</small></h2>
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="" ng-model="c.url">
    <span class="input-group-btn">
      <a href="{{ c.url }}" class="visible-xs btn btn-primary" onclick="return false;">Hold to Copy</a>
      <button class="hidden-xs btn btn-primary copy-clipboard"
              data-toggle="tooltip" data-placement="bottom"
              data-clipboard-text="{{ c.url }}">Copy</button>
    </span>
  </div>
</div>

<div id="deck-container" fittable="fitted">
  <div class="container">
    <dl class="row">
      <dt class="">Mana</dt>
      <dd class="">{{ c.deck.mana }}<span ng-if="c.deck.bonusMana"> + {{ c.deck.bonusMana }}</span></dd>
    </dl>
  </div>
  <!-- .hidden-xs -->
  <div class="container hidden-xs">
    <div class="card"
         ng-repeat="($index, servant) in c.deck.servants track by $index"
         ng-class="['tribe-' + servant.tribeId, {deck: [0, 1, 2, 3, 4, 5].indexOf($index) > -1, 'side-board': [6, 7].indexOf($index) > -1}]"
         ng-drop="true" ng-drop-success="c.setServant($index, $data)">
      <div class="background"></div>
      <div class="content" fit-servant="{{ servant.tribeCode }}"
           ng-drag="servant" ng-drag-data="{index: $index, servantId: servant.id}" ng-drag-stop="c.clearServant($index)"
           ng-dblclick="c.openServant(servant.id)">
        <img src="/assets/img/m/blank.png" class="img-responsive" />
        <span ng-if="servant"
              skill-popover="{card: '.card', title: servant.name, content: '.skill-popover-content', container: '#deck-popover-container'}">
          Cost {{ servant.cost }}
        </span>
      </div>
      <skill-popover-content servant="servant"></skill-popover-content>
    </div>
  </div>
  <div class="container input-group hidden-xs">
    <div class="input-group-btn">
      <button type="button" class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ c.tribeName }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="option in c.tribeIdOptions">
          <a ng-click="c.selectTribeId(option.key, option.value)">{{ option.value }}</a>
        </li>
      </ul>
    </div>
    <input type="text" value="{{ c.q }}" placeholder="Search Servant..." class="form-control"
           ng-model="c.q" ng-change="c.changeQuery()" />
  </div>
  <!-- /.hidden-xs -->
  <!-- .visible-xs -->
  <div class="container visible-xs">
    <div class="card"
         ng-repeat="($index, servant) in c.deck.servants track by $index"
         ng-if="[0, 1, 2, 6].indexOf($index) > -1"
         ng-class="['tribe-' + servant.tribeId, {deck: [0, 1, 2].indexOf($index) > -1, 'side-board': [6].indexOf($index) > -1}]"
         ng-drop="true" ng-drop-success="c.setServant($index, $data)">
      <div class="background"></div>
      <div class="content" fit-servant="{{ servant.tribeCode }}"
           ng-drag="servant" ng-drag-data="{index: $index, servantId: servant.id}" ng-drag-stop="c.clearServant($index)"
           ng-dblclick="c.openServant(servant.id)">
        <img src="/assets/img/m/blank.png" class="img-responsive" />
        <span ng-if="servant"
              skill-popover="{card: '.card', title: servant.name, content: '.skill-popover-content', container: '#deck-popover-container'}">
          Cost {{ servant.cost }}
        </span>
      </div>
      <skill-popover-content servant="servant"></skill-popover-content>
    </div>
    <div class="card"
         ng-repeat="($index, servant) in c.deck.servants track by $index"
         ng-if="[3, 4, 5, 7].indexOf($index) > -1"
         ng-class="['tribe-' + servant.tribeId, {deck: [3, 4, 5].indexOf($index) > -1, 'side-board': [7].indexOf($index) > -1}]"
         ng-drop="true" ng-drop-success="c.setServant($index, $data)">
      <div class="background"></div>
      <div class="content" fit-servant="{{ servant.tribeCode }}"
           ng-drag="servant" ng-drag-data="{index: $index, servantId: servant.id}" ng-drag-stop="c.clearServant($index)"
           ng-dblclick="c.openServant(servant.id)">
        <img src="/assets/img/m/blank.png" class="img-responsive" />
        <span ng-if="servant"
              skill-popover="{card: '.card', title: servant.name, content: '.skill-popover-content', container: '#deck-popover-container'}">
          Cost {{ servant.cost }}
        </span>
      </div>
      <skill-popover-content servant="servant"></skill-popover-content>
    </div>
  </div>
  <!-- /.visible-xs -->
</div>

<div id="deck-servants" class="container card-container">
  <div class="card"
       ng-repeat="servant in c.servants | filter:c.filter | orderBy:c.predicate:c.reverse"
       ng-class="['tribe-' + servant.tribeId, {'setted': c.deck.servants.indexOf(servant) > -1}]">
    <div class="background"></div>
    <div class="content" fit-servant="{{ servant.tribeCode }}"
         ng-drag="true" ng-drag-data="{index: null, servantId: servant.id}"
         ng-dblclick="c.openServant(servant.id)">
      <img src="/assets/img/m/blank.png" class="img-responsive" />
      <span skill-popover="{card: '.card', title: servant.name, content: '.skill-popover-content', container: '#deck-popover-container'}">
        Cost {{ servant.cost }}
      </span>
    </div>
    <skill-popover-content servant="servant"></skill-popover-content>
  </div>
</div>

<div id="deck-popover-container" class="container"></div>
