<div class="container" id="servant">
  <div class="page-header">
    <h2>Ranking
      <small>under development</small>
      <!--<small>Updated {{ c.rankings[0].date|date:'yyyy-MM-dd' }}</small>-->
    </h2>
  </div>

  <div class="clearfix">
    <div class="pull-left">
      <select class="form-control select select-primary select-block mbl" ui-select2 ng-model="c.mode">
        <option ng-repeat="option in c.modeOptions" value="{{ option.key }}">{{ option.value }}</option>
      </select>
    </div>
  </div>

  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="">Rank</th>
        <th class="">Rate</th>
        <th class="hidden-xs">Tribe</th>
        <th class="hidden-xs">Cost</th>
        <th class="hidden-xs">Type</th>
        <th class="">Servant Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="ranking in c.rankings | filter:c.filter | orderBy:c.predicate:c.reverse"
          ng-click="c.openServant(ranking.servant)">
        <th class="" scope="row">{{ ranking.rank }}</th>
        <td class="">{{ ranking.score|number:2 }}</td>
        <td class="hidden-xs">{{ ranking.servant.tribeNameAndCode }}</td>
        <td class="hidden-xs">{{ ranking.servant.cost }}</td>
        <td class="hidden-xs">{{ ranking.servant.type }}</td>
        <td class="">{{ ranking.servant.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
