<div class="container" id="servant">
  <div class="page-header">
    <h2>Servants</h2>
  </div>

  <div class="clearfix">
    <div class="pull-left">
      <select class="form-control select select-primary select-block mbl" ui-select2 ng-model="c.tribeId">
        <option ng-repeat="option in c.tribeIdOptions" value="{{ option.key }}">{{ option.value }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <input type="text" value="{{ c.q }}" placeholder="Input Keyword..." class="form-control"
           ng-model="c.q" ng-change="c.changeQuery()" />
  </div>

  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="hidden-xs">#</th>
        <th class=""></th>
        <th class="">Tribe</th>
        <th class="">Cost</th>
        <th class="hidden-xs">Type</th>
        <th class="">Servant Name</th>
        <th class="hidden-xs hidden-sm">Win Rate</th>
        <th class="hidden-xs hidden-sm">Used Rate</th>
        <th class="hidden-xs hidden-sm">Released</th>
        <th class="hidden-xs hidden-sm">Updated</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="servant in c.servants | filter:c.filter | orderBy:c.predicate:c.reverse"
          ng-click="c.openServant(servant)">
        <th class="hidden-xs" scope="row">{{ servant.id }}</th>
        <td class="clip" ng-class="'tribe-'+servant.tribeId" ng-style="{'background-position-x': (-40*(servant.tribeCode-1))+'px'}">　</td>
        <td class="">{{ servant.tribeNameAndCode }}</td>
        <td class="">{{ servant.cost }}</td>
        <td class="hidden-xs">{{ servant.type }}</td>
        <td class="">{{ servant.name }}</td>
        <td class="hidden-xs hidden-sm">{{ servant.winRate|number:2 }}</td>
        <td class="hidden-xs hidden-sm">{{ servant.usedRate|number:2 }}</td>
        <td class="hidden-xs hidden-sm">{{ servant.releaseDate|date:'yyyy-MM-dd' }}</td>
        <td class="hidden-xs hidden-sm">{{ servant.updateDate|date:'yyyy-MM-dd' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
