@import 'tablesorter';
@import 'chart';
@import 'deck';
@import 'prize';
@import 'servant';
@import 'servant-detail';

@mixin default-button {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
  &:hover {
    color: #fff;
    background-color: #48c9b0;
    border-color: #48c9b0;
  }
  &:focus, &:active {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
  }
}

html {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}
body {
  font-size: 15px;
  font-family: Lato, '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  overflow-x: hidden;
  padding-bottom: 150px;
}
h2 {
  font-size: 200%;
  small {
    color: lightgray;
    margin-left: 15px;
  }
  .pull-right {
    margin-top: 12px;
  }
}
h3 {
  font-size: 150%;
  small {
    color: lightgray;
    margin-left: 15px;
  }
  .pull-right {
    margin-top: 8px;
  }
}
img {
  opacity: 1;
  /*transition: 0.2s;*/
  &:hover {
    opacity: 0.5;
    /*transition: 0.2s;*/
  }
}

.footer {
  background-color: transparent;
  bottom: 0;
  height: 150px;
  position: absolute;
  width: 100%;
  div {
    background-color: #ecf0f1;
    margin-top: 90px;
    .container .text-muted {
      margin: 20px 0;
    }
    div p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.navbar {
  border-radius: 0;
  .navbar-brand {
    font-size: 22px;
  }
  .navbar-nav li a {
    font-size: 15px;
  }
}
.nav-pills li.active a {
  @include default-button;
}
.input-group-btn .btn.btn-primary {
  @include default-button;
}
.input-group-btn .btn.btn-primary.zeroclipboard-is-hover {
  color: #fff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}
.select.form-control {
  height: 41px;
}
.nvtooltip {
  border-radius: 0;
  padding: 2px 7px;
}
