#chart {
  form .form-group {
    margin-bottom: 10px;
    &>label {
      color: #c0c1c2;
      font-size: 90%;
      font-weight: 400;
      line-height: 25px;
    }
    div {
      padding: 1px 15px 5px;
      .radio {
        vertical-align: bottom;
        min-height: 0;
        &+.radio {
          margin: 0 0 0 20px;
        }
      }
    }
  }
  svg {
    margin: 0 auto;
    *width: auto;
  }
}
