<div class="skill-popover-content">
  <div class="skill-popover">
    <dl class="col-sm-6">
      <dd ng-if="servant.skill.active">
        <dl class="row">
          <dt class="col-xs-3">Active</dt>
          <dd class="col-xs-9">{{ servant.skill.active.name }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-xs-3">Designation</dt>
          <dd class="col-xs-9">{{ servant.skill.active.designation|replace:',':'・'|default:'-' }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-xs-3">Effect</dt>
          <dd class="col-xs-9">{{ servant.skill.active.effect|replace:',':'・'|default:'-' }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-12">Description</dt>
          <dd class="col-sm-12">
            <div class="well well-sm">
              <small ng-bind-html="servant.skill.active|skillDescription"></small>
            </div>
          </dd>
        </dl>
      </dd>
      <dd ng-if="!servant.skill.active">
        <dl class="row">
          <dt class="col-xs-3">Active</dt>
          <dd class="col-xs-9">-</dd>
        </dl>
      </dd>
    </dl>
    <dl class="col-sm-6">
      <dd ng-if="servant.skill.passive">
        <dl class="row">
          <dt class="col-xs-3">Passive</dt>
          <dd class="col-xs-9">{{ servant.skill.passive.name }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-xs-3">Designation</dt>
          <dd class="col-xs-9">{{ servant.skill.passive.designation|replace:',':'・'|default:'-' }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-xs-3">Effect</dt>
          <dd class="col-xs-9">{{ servant.skill.passive.effect|replace:',':'・'|default:'-' }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-12">Description</dt>
          <dd class="col-sm-12">
            <div class="well well-sm">
              <small ng-bind-html="servant.skill.passive|skillDescription"></small>
            </div>
          </dd>
        </dl>
      </dd>
      <dd ng-if="!servant.skill.passive">
        <dl class="row">
          <dt class="col-xs-3">Passive</dt>
          <dd class="col-xs-9">-</dd>
        </dl>
      </dd>
    </dl>
  </div>
</div>
